body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    padding-top: 60px;
    z-index: 1000;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* nav bar */
.navbar {
    position: fixed; /* or sticky */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    padding: 14px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #575757;
}
/* nav bar */

/*login*/

.container {
    margin-top: 80px; /* Adjust based on navbar height */
    padding: 20px;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%;
    z-index: 1; /* Lower than the navbar */
    position: relative; /* Prevent stacking context issues */
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.group {
    margin-bottom: 15px;
}

.group label {
    display: inline;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.group input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    color: #4CAF50;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}


.login-link {
    text-align: center;
    margin-top: 10px;
}

.login-link a {
    color: #4CAF50;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}